#main {
    text-align: center;
    background-color:   red;
    
}
#first {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
#second {
    background-color: blueviolet;
}
#third {
    background-color: aqua;
}
#fourth {
    background-color: palevioletred;
}
#fifth {
    background-color: yellow;
}
#last {
    background-color: green;
}
#Sum {
    text-align: center;
}
#Skill {
    text-align: center;
}
#mini {
    display: flex;
    justify-content: center;
}

#Education {
    text-align: center;
}
#Course {
    text-align: center;
}
#mini2 {
    display: flex;
    justify-content: center;
}
#Hobbi {
    text-align: center;
}
#mini3 {
    display: flex;
    justify-content: center;
}
#mini4 {
    display: flex;
    justify-content: center;
}
#mini5 {
    display: flex;
    justify-content: center;
}
#main2 {
    display: flex;
    flex-direction: row;
}
